@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
  cursor: url('./img/joint.png'), auto;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  cursor: url('./img/joint_.png'), auto;
}

.cursor-smoke {
  position: fixed;
  width: 20px;
  height: 100px;
  background: url('./img/smoke.png') no-repeat center center;
  pointer-events: none; /* Игнорирует все события мыши, чтобы не мешать */
  animation: smokeEffect 1s infinite;
  transform: translate(-50%, -50%); /* Центрирует изображение относительно курсора */
}

@keyframes smokeEffect {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@media (min-width: 640px) {
  .bg {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./img/bg.png");
  }
}

@media (max-width: 639px) {
  .bg {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./img/bg_tablet.png");
  }
}

@media (max-width: 450px) {
  .bg {
    background-size: fit;
    background-position: bottom;
    background-repeat: repeat;
    background-image: url("./img/mob.png");
  }
}

.bowlby-font {
  font-family: "Bowlby One", sans-serif;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reel-container {
  position: relative;
  overflow: hidden;
  width: 150px; /* или используйте классы Tailwind для размеров */
  height: 150px; /* или используйте классы Tailwind для размеров */
  margin: auto; /* чтобы центрировать контейнер, если нужно */
}

.reel-container::before,
.reel-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 10%; /* Высота затемненного эффекта */
  background: rgba(0, 0, 0, 1); /* Цвет затемнения */
  z-index: 10;
}

.reel-container::before {
  top: 0;
}

.reel-container::after {
  bottom: 0;
}
