@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('./img/joint.png'), auto;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="number"]:hover, input[type="button"]:hover {
  cursor: url('./img/joint_.png'), auto;
}

.cursor-smoke {
  position: fixed;
  width: 20px;
  height: 100px;
  background: url('./img/smoke.png') no-repeat center center;
  pointer-events: none; /* Игнорирует все события мыши, чтобы не мешать */
  animation: smokeEffect 1s infinite;
  transform: translate(-50%, -50%); /* Центрирует изображение относительно курсора */
}

@media screen and (max-width: 1023px) {
  .sidebar {
    margin-top: 50px;
  }
  .content {
    margin-top: 60px;
    flex-direction: column-reverse; /* Меняем порядок столбцов */
  }
  .wager-controls {
    width: 100%; /* Занимает всю ширину */
    margin-top: 20px; /* Добавление отступа сверху */
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    margin-top: 60px;
  }
  .content {
    margin-top: 60px;
    margin-left: 250px; /* немного больше отступа от сайдбара */
    padding: 10px; /* Добавление внутренних отступов для дополнительного пространства */
  }
}


@keyframes smokeEffect {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

@media (min-width: 640px) {
  .bg {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./img/bg.png");
  }
}

@media (max-width: 639px) {
  .bg {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./img/bg_tablet.png");
  }
}

@media (max-width: 450px) {
  .bg {
    background-size: fit;
    background-position: bottom;
    background-repeat: repeat;
    background-image: url("./img/mob.png");
  }
}

.bowlby-font {
  font-family: "Bowlby One", sans-serif;
  font-style: normal;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip {
  position: absolute;
  transform: translate(-50%, -100%);
  transition: top 0.3s ease, left 0.3s ease; /* Плавное изменение позиции */
  color: white;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none; /* Убедитесь, что тултип не мешает взаимодействию с другими элементами */
  opacity: 0;
  visibility: hidden;
}
.tooltip.show {
  opacity: 1;
  visibility: visible;
}